*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
}

#main-header{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: auto;

}

.global-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;

    img{
        max-width: 100px;
        max-height: 80px;
    }

    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: baseline;
        gap: 1rem;
        font-size: 1.5rem;
    }
}

.blue-line{
    border-bottom: solid;
    border-color: #1ca2c1;
}

.quicksearch{
    display: grid;
    width: 300px;
    border-width: 400px;
    border-radius: 10px;
    padding: 0px;
    margin: 5px;

    select{
        width: 300px;
    }

    select[name=lengde]{
        width: 150px;
    }

    input[type=date]{
        width: 150px;
    }   

    input[type=submit]{
        width: 330px;
        font-family: "Montserrat", sans-serif;
        background-color: #ffcf40;
        height: 40px;
        font-size: large;
        font-weight: 900;
        border-radius: 5px;
    }

    input[type=number]{
        width: 300px;
    }
}

.quicksearch nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quicksearch-form{
    display: grid;
    margin-top: 20px;
    gap: 15px;
}


.date-and-length{
    width: 150px;
}

.offer{
    position: relative;
    text-align: center;

    img{
        min-width: 370px;
        height: 300px;
        border-radius: 5px;
    }

    a{
        background-color: #ffcf40;
        position: absolute;
        bottom: 7%;
        right: 4%;
        font-size: large;
        font-weight: 700;
        border-radius: 5px;
        width: 100px;
        height: 50px;
    }
    
    
}

.bluebox{
    background: #52d3f0;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 10%;
    width: 300px;
    height: 200px;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

.sub-offers{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    row-gap: 2rem;

    article{
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
    }
}

.offer-offer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;

    a{
        color: #1ca2c1;
    }
}

.cheap-offer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;

    a{
        color: #1ca2c1;
    }
}

.march-offer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;

    a{
        color: #1ca2c1;
    }
}

.tips-inspiration{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    article{
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    img{
        max-width: 500px;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    a{
        display: block;
    }
}



.deal-badge{
    position: absolute;
    top: 92px;
    left: 35px;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.new-badge{
    position: absolute;
    bottom: 945px;
    left: 35px;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

footer{
    background-color: #252525;
    color: #fff;
    padding: 5px;
    margin: 5px;
    display: grid;
    text-align: left;
    width: 500px;


    li{
        list-style: none;
        color: #fff;
    }

    img{
        max-width: 40px;
    }

    a{
        color: #fff;
    }

    input[type=submit]{
        background-color: #ffcf40;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }

    fieldset{
        max-width: 250px;
    }

}

.slideshow-container{
    max-width: 700px;
    margin: auto;
    overflow: scroll;
}

.slideshow-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 300px;
    width: 390px;
    margin: 0;
    align-items: flex-start;
}

#slideshow-1{
    height: 300px;
    max-width: 600px;
}
#slideshow-2{
    height: 300px;
    max-width: 390px;
}
#slideshow-3{
    height: 300px;
    max-width: 390px;
}
#slideshow-4{
    height: 300px;
    max-width: 390px;
}
#slideshow-5{
    height: 300px;
    max-width: 390px;
}
#slideshow-6{
    height: 300px;
    max-width: 390px;
}

.overview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    border-bottom: solid;
    border-color: #ddd8ca;
    padding: 0px;
    line-height: 2rem;
}

.blue-line-text{
    border-bottom: solid;
    border-color: #1ca2c1;
    color: #1ca2c1;
}

.info{

    a{
        color: #1ca2c1;
        font-size: smaller;
    }
}

.rating{
    background-color: #019101;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-weight: 700;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fantastic{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 600;
}

.facility-section{
    display: flex;
    flex-wrap: wrap;

    a{
        color: #1ca2c1;
        font-size: smaller;
    }
}

.facility{
    flex: 150px;
    display: flex;
    align-items: center;
}

.area{
    margin: -7px;

    img{
        min-width: 470px;
    }
}

.rooms-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 5px;

    p{
        text-align: left;
    }

    img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
    }

    i{
        font-size: xx-small;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
        padding-left: 0px;
    }
}

.room-1{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    p{
        margin: 2px;
    }

}
.room-2{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p{
        margin: 2px;
    }
}
.room-3{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p{
        margin: 2px;
    }
}
.room-4{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p{
        margin: 2px;
    }
}


.review{
    font-weight: 600;
    font-size: small;
}

.list-info{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    flex-direction: row;
    gap: 1rem;
    background-color: #1ca2c1;
    padding-left: 0;
    font-size: large;

    
    a{
        color:#ffffff;
    }

    i{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.payment{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 410px;
    border-width: 400px;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
    background-color: #f6f5f2;

    label{
        font-weight: 600;
    }

    p{
        font-weight: 600;
    }

    select{
        width: 300px;
    }

    input[type=text]{
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=date]{
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    input[type=radio]{
        width: 30px;
        margin-left: -7px;
        border: 0px;
        display: inline;
    }

    a{
        width: 130px;
        height: 40px;
        background-color: #ffcf40;
        font-weight: 800;
        border-radius: 5px;
        text-align: center;
        margin-top: 10px;
    }

    input[type=number]{
        width: 300px;
    }

    select[name=land]{
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=tel]{
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=email]{
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


    

img{
    max-width: 200px;
}

a{
    text-decoration: none;
    color: black;
}

main{
    max-width: 1000px;
}
