* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
    padding: 0;
    margin: 0;
}

main{
    max-width: 1000px;
}


.global-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;

    img {
        max-width: 100px;
        max-height: 80px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: baseline;
        gap: 1rem;
        font-size: 1.5rem;
    }
}

.blue-line {
    border-bottom: solid;
    border-color: #1ca2c1;
}

.quicksearch {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    max-width: 400px;
    border-width: 400px;
    border-radius: 10px;
    padding: 0px;
    margin: 5px auto;
    border: solid;
    border-color: #ddd8ca;

    select {
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 10px;
    }

    select[name=lengde] {
        background-color: #ffffff;
    }

    input[type=date] {
        background-color: #ffffff;
        margin-bottom: 1rem;
    }

    input[type=submit] {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        background-color: #ffcf40;
        height: 40px;
        font-size: large;
        font-weight: 900;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    input[type=number] {
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 1rem;
    }
}

.quicksearch nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;

}

.quicksearch-form {
    grid-row: 2/5;
    margin-top: 20px;
    gap: 15px;
}


.date-and-length {
    width: 200px;
    display: flex;
    margin-bottom: 1rem;
}

.offer {
    background-image: url('https://github.com/ackarlse/Konte-web/blob/main/img/holiday-2733322_1280.jpg?raw=true');
    background-size: cover;
    min-height: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto auto 1fr;

    a {
        background-color: #ffcf40;
        font-size: large;
        font-weight: 700;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 10px;
        text-align: center;
        grid-row: 2/3;
        grid-column: 3/4;
    }


}

.bluebox {
    background: #52d3f0;
    grid-row: 1/2;
    grid-column: 2/4;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-block: 20px;
}

.sub-offers {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    row-gap: 2rem;

    article {
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
    }
}

.offer-offer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;

    a {
        color: #1ca2c1;
    }
}

.cheap-offer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;

    a {
        color: #1ca2c1;
    }
}

.march-offer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;

    a {
        color: #1ca2c1;
    }
}

.tips-inspiration {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    article {
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    img {
        max-width: 500px;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    a {
        width: fit-content;
    }
}



.deal-badge {
    position: absolute;
    top: 92px;
    left: 35px;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.new-badge {
    position: absolute;
    bottom: 945px;
    left: 35px;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

footer {
    background-color: #252525;
    color: #fff;
    padding: 5px;
    text-align: left;
    min-width: 100%;
    display: flex;
    flex-direction: column;


    li {
        list-style: none;
        color: #fff;
    }

    img {
        max-width: 40px;
    }

    a {
        color: #fff;
    }

    input[type=submit] {
        background-color: #ffcf40;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }

    fieldset {
        max-width: 250px;
    }

    i {
        font-size: xx-large;
        padding-inline-start: 0.5rem;
    }

}

.flags-footer {

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    ul>li {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

}

.footer-wrapper {
    display: flex;
    gap: 1rem;
    
    ul{
        padding-left: 0;
    }
}

.newsletter{
    margin-bottom: 1rem;
}

.slideshow-container {
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 300px;
    margin: 0;
    align-items: flex-start;
}

#slideshow-1 {
    height: 300px;
    min-width: 460px;
}

#slideshow-2 {
    height: 300px;
    min-width: 460px;
}

#slideshow-3 {
    height: 300px;
    min-width: 460px;
}

#slideshow-4 {
    height: 300px;
    min-width: 460px;
}

#slideshow-5 {
    height: 300px;
    min-width: 460px;
}

#slideshow-6 {
    height: 300px;
    min-width: 460px;
}

.overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    border-bottom: solid;
    border-color: #ddd8ca;
    padding: 0px;
    line-height: 2rem;
}

.blue-line-text {
    border-bottom: solid;
    border-color: #1ca2c1;
    color: #1ca2c1;
}

.info {

    a {
        color: #1ca2c1;
        font-size: smaller;
    }
}

.rating {
    background-color: #019101;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-weight: 700;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fantastic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 600;
}

.facility-section {
    display: flex;
    flex-wrap: wrap;

    a {
        color: #1ca2c1;
        font-size: smaller;
    }
}

.facility {
    flex: 200px;
    display: flex;
    align-items: center;
}

.area {
    margin: -7px;

    img {
        min-width: 470px;
    }
}

.rooms-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 5px;

    p {
        text-align: left;
    }

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
    }

    i {
        font-size: xx-small;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
        padding-left: 0px;
    }
}

.room-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p {
        margin: 2px;
    }

}

.room-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p {
        margin: 2px;
    }
}

.room-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p {
        margin: 2px;
    }
}

.room-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    p {
        margin: 2px;
    }
}


.review {
    font-weight: 600;
    font-size: small;
}

.list-info {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    flex-direction: row;
    gap: 1rem;
    background-color: #1ca2c1;
    padding-left: 0;
    font-size: large;


    a {
        color: #ffffff;
    }

    i {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.payment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 410px;
    border-width: 400px;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
    background-color: #f6f5f2;

    label {
        font-weight: 600;
    }

    p {
        font-weight: 600;
    }

    select {
        width: 300px;
    }

    input[type=text] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=date] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=radio] {
        width: 30px;
        margin-left: -7px;
        border: 0px;
        display: inline;
    }

    a {
        width: 130px;
        background-color: #ffcf40;
        font-weight: 800;
        border-radius: 5px;
        text-align: center;
        margin-top: 10px;
        padding: 10px;
    }

    input[type=number] {
        width: 300px;
    }

    select[name=land] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=tel] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=email] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}




img {
    max-width: 200px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 1000px;
}