* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1400px;
    padding: 0;
    margin: 0;
}

main{
    max-width: 1000px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: black;
}


.global-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem;
    align-items: end;

    img {
        max-width: 100px;
        max-height: 80px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: baseline;
        gap: 1rem;
        font-size: 1.5rem;
    }
}

.blue-line {
    border-bottom: solid;
    border-color: #1ca2c1;
}

.quicksearch {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(50px, 1fr) auto auto auto;

    div{
        grid-row: 1/4;
        grid-column: 1;
        overflow: hidden;
    }

    img{
        width: 100%;
    }

    nav{
        grid-row: 2/3;
        grid-column: 1;
        background-color: #ffff;
        max-width: 80%; 
        margin-inline: 3rem;
        border-left: solid;
        border-right: solid;
        border-top: solid;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-color: #ddd8ca;
        padding-inline: 1rem;
        position: relative;

        .scroll-indicator{
            position: absolute;
            right: 5px;
            top: 43%;
        }

        ul{
            display: flex;
            flex-wrap: nowrap;
            list-style: none;
            gap: 0.5rem;
            overflow-y: hidden;
            overflow-x: scroll;
            padding: 0;

            li{
                min-width: fit-content;
                padding-block: 0.5rem;
            }

            i{
                margin-right: 5px;
            }
        }

    }
}

@media screen and (width > 800px) {
    .quicksearch{
        grid-template-rows: minmax(50px, 1fr) auto auto;
        .quicksearch-form{
            display: flex;
            max-width: 100%;
            margin-bottom: 50px;
    
            input[type=submit]{
                max-width: fit-content;
            }

            fieldset{
                height: min-content;
            }
        }

        div{
            height: 100px;
        }

        nav{
            max-width: 100%;
        }

        .scroll-indicator{
            display: none;
        }
    }
}

.quicksearch-form {
    grid-row: 3/5;
    grid-column: 1;
    max-width: 80%;
    margin-inline: 3rem;
    background-color: #ffff;
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #ddd8ca;
    padding-inline: 1rem;

    select {
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 10px;
    }

    select[name=lengde] {
        background-color: #ffffff;
    }

    input[type=date] {
        background-color: #ffffff;
        margin-bottom: 1rem;
    }

    input[type=submit] {
        width: 100%;
        font-family: "Montserrat", sans-serif;
        background-color: #ffcf40;
        height: 40px;
        font-size: large;
        font-weight: 900;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    input[type=number] {
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 1rem;
    }
}


.date-and-length {
    justify-content: space-between;
    display: flex;
    flex-grow: 2;
}

.flex-grow{
    flex-grow: 1;
}

.offer {
    background-image: url('https://github.com/ackarlse/Konte-web/blob/main/img/holiday-2733322_1280.jpg?raw=true');
    background-size: cover;
    min-height: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto auto 1fr;

    a {
        background-color: #ffcf40;
        font-size: large;
        font-weight: 700;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 10px;
        text-align: center;
        grid-row: 2/3;
        grid-column: 3/4;
    }


}

@media screen and (width > 800px){
    .offer{

    grid-template-columns: 1fr auto auto 20px;
        .bluebox{
            grid-column: 2/4;
        }

        a{
            grid-column: 3/4;
        }
    }
}

.bluebox {
    background: #52d3f0;
    grid-row: 1/2;
    grid-column: 2/4;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-block: 20px;
}

.sub-offers {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: scroll;
    row-gap: 2rem;

    article {
        display: flex;
        flex-wrap: nowrap;
        text-align: left;
    }
}

.scroll-offer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 370px;
    border: solid;
    border-color: #ddd8ca;
    margin: 10px;
    padding: 5px;
    min-width: fit-content;
    padding-inline: 10px;

    a {
        color: #1ca2c1;
        font-weight: 500;
    }
}

.tips-inspiration {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

    article {
        position: relative;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    img {
        max-width: 500px;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    a {
        width: fit-content;
    }
}

@media screen and (width > 800px){
    .tips-inspiration{
        article{
            max-width: 300px;
        }
    }
}

.tips-head{
    padding: 3rem;
}

.deal-badge {
    position: absolute;
    left: 35px;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.new-badge {
    position: absolute;
    left: 35px;
    background-color: #1ca2c1;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

footer {
    background-color: #252525;
    color: #fff;
    padding: 5px;
    text-align: left;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;


    li {
        list-style: none;
        color: #fff;
    }

    img {
        max-width: 40px;
    }

    a {
        color: #fff;
    }

    input[type=submit] {
        background-color: #ffcf40;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }

    fieldset {
        max-width: 250px;
    }

    i {
        font-size: xx-large;
        padding-inline-start: 0.5rem;
    }

}

.flags-footer {

    grid-column: 1/3;
    grid-row: 1/2;

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    ul>li {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

}

.payment-footer{
    grid-row: 2/3;
    grid-column: 1/3;
}

@media screen and (width > 800px){
    footer{
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto auto;

        .flags-footer{
            grid-column: 1/5;
        }

        .payment-footer{
            grid-row: 2/3;
            grid-column: 1/2;
        }

        .news-footer{
            grid-row: 2/3;
            grid-column: 2/3;
        }

        .customer-footer{
            grid-row: 2/3;
            grid-column: 3/4;
        }

        .social-media-footer{
            grid-row: 2/3;
            grid-column: 4/5;
        }
    }
}


.newsletter{
    margin-bottom: 1rem;
}

.slideshow-container {
    width: 100%;
    margin: auto;
    overflow-x: scroll;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 300px;
    margin: 0;
    align-items: flex-start;

    .fa-arrow-right{
        position: absolute;
        top: 245px;
        left: 410px;
        font-size: xx-large;
        border-radius: 20px;
        background-color: #ddd8ca;
        padding: 10px;
    }

    .fa-arrow-left{
        position: absolute;
        top: 245px;
        font-size: xx-large;
        background-color: #ddd8ca;
        border-radius: 20px;
        padding: 10px;
    }

    .fa-heart{
        position: absolute;
        top: 110px;
        left: 410px;
        font-size: x-large;
        color: red;
        background-color: #ddd8ca;
        border-radius: 20px;
        padding: 10px;
    }

    .fa-images{
        position: absolute;
        top: 350px;
        left: 400px;
        font-size: large;
        background-color: #ddd8ca;
        border-radius: 20px;
        padding: 10px;
    }
}

#slideshow-1 {
    height: 300px;
    width: 460px;
}

#slideshow-2 {
    height: 300px;
    width: 460px;
}

#slideshow-3 {
    height: 300px;
    width: 460px;
}

#slideshow-4 {
    height: 300px;
    width: 460px;
}

#slideshow-5 {
    height: 300px;
    width: 460px;
}

#slideshow-6 {
    height: 300px;
    width: 460px;
}

@media  screen and (width > 800px) {
    .slideshow-container{
        display: grid;
        gap: 10px;
        grid-template-columns: 220px 220px 220px 220px;
        grid-template-rows: 180px 180px 180px;
        overflow: unset;
        flex-wrap: unset;
        align-items: unset;
        height: auto;

        .fa-arrow-left{
            display: none;
        }

        .fa-arrow-right{
            display: none;
        }

        .fa-heart{
            top: 150px;
            left: 850px;
        }

        .fa-images{
            top: 650px;
            left: 840px;
        }

        #slideshow-1{
            grid-column: 1/3;
            grid-row: 1/3;
            width: 450px;
            height: 370px;
        }

        #slideshow-2{
            grid-column: 3/4;
            grid-row: 1/2;
            width: 220px;
            height: 180px;
        }

        #slideshow-3{
            grid-column: 4/5;
            grid-row: 1/2;
            width: 220px;
            height: 180px;
        }

        #slideshow-4{
            grid-column: 3/5;
            grid-row: 2/4;
            width: 450px;
            height: 370px;
        }

        #slideshow-5{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 220px;
            height: 180px;
        }

        #slideshow-6{
            grid-column: 2/3;
            grid-row: 3/4;
            width: 220px;
            height: 180px;
        }
    }
}

.overview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    border-bottom: solid;
    border-color: #ddd8ca;
    padding: 10px;
}

.blue-line-text {
    border-bottom: solid;
    border-color: #1ca2c1;
    color: #1ca2c1;
}

.info {
    padding: 1rem;

    a {
        color: #1ca2c1;
        font-size: smaller;
    }

    .fa-sun{
       color: #ffcf40;
    }
}

.rating {
    background-color: #019101;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-weight: 700;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.fantastic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 600;
}

.facility-section {
    display: flex;
    flex-wrap: wrap;

    a {
        color: #1ca2c1;
        font-size: smaller;
    }
}

.facility-section{
    padding: 1rem;
}

.facility {
    flex: 200px;
    display: flex;
    align-items: center;
}

.div-info{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (width > 800px){
    .facility{
        display: flex;
        flex: 400px;
    }
}

.area {
    margin: 0;

    img {
        max-width: 470px;
    }
}

.head-room{
    padding: 1rem;
}

.rooms-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;

    p {
        text-align: left;
    }

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 200px;
    }

    i {
        font-size: xx-small;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;
        padding-left: 0px;
    }
}

.room{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 200px;

    p {
        margin: 2px;
    }

}

.review {
    font-weight: 600;
    font-size: small;
}

.list-info {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    flex-direction: row;
    gap: 1rem;
    background-color: #1ca2c1;
    padding-left: 0;
    padding: 10px;
    font-size: large;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: fit-content;


    a {
        color: #ffffff;
        display: flex;
        flex-wrap: nowrap;
        gap: 1.5rem;
    }

    i {
        font-size: x-large;
    }
}

.payment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 410px;
    border-width: 400px;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;

    label {
        font-weight: 600;
    }

    p {
        font-weight: 600;
    }

    select {
        width: 300px;
    }

    input[type=text] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=date] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=radio] {
        width: 30px;
        margin-left: -7px;
        border: 0px;
        display: inline;
    }

    a {
        max-width: fit-content;
        background-color: #ffcf40;
        font-weight: 800;
        border-radius: 5px;
        text-align: center;
        margin-top: 10px;
        padding: 20px;
    }

    input[type=number] {
        width: 300px;
    }

    select[name=land] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=tel] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type=email] {
        width: 400px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.head-pay{
    padding: 10px;
    margin: 10px;
}

.payment-fieldset{
    background-color: #f6f5f2;
    margin-bottom: 20px;

    legend{
        font-size: larger;
        font-weight: 800;
    }
}

.visually-hidden{
    display: none;
}

.email{
    display: block;
    margin-top: 10px;
}

.global-header{
    .hidden-mobile{
        display: none;
    }
}

@media screen and (width > 800px){
    .visually-hidden{
        display: block;
    }

    .global-header{
        .hidden-desktop{
            display: none;
        }
        .hidden-mobile{
            display: flex;
        }

        .outline-button{
            border: solid;
            border-color: #1ca2c1;
            border-radius: 69px;
            padding: 0.5rem;
            color: #1ca2c1;
        }

        ul {
            flex-direction: column;
            align-items: end;

            div{
                display: flex;
                gap: 20px;
                align-items: center;
            }
        }
    }
}